*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(230, 74, 18);
    padding: 10px;
}
ul{
    display: flex;
    list-style: none;
    margin-bottom: 0;

}
ul li{
    margin-left: 30px;
    font-size: 1.2rem;
    color: white;
}
body{
    background-color: whitesmoke;
}
.country{
    position: absolute;
    left: 20%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    width: 15%;
    height: 70px;
    font-size: 1.2rem;
    visibility: hidden;
    top: 7.1%;

}
.country button{
    color: white;
    text-decoration: none;
    padding: 3px;
    background-color: white;
    border: none;
    outline: none;
    background-color:orangered;
}

#countryBtn{
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
}
.country button:hover{
    background-color: rgba(255, 0, 0, 0.616);
    color: white;
}
section {
    /* padding-top: 50px; */
    display: flex;
    flex-wrap: wrap;
}
.card{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 70vh;
    margin-bottom: 50px;
    margin-top:10px;
    border-radius: 20px;
    margin-left: 30px;
}
.card img{
    height: 50%;
    width: 100%;
    border-radius: 10px;
}
.card p
{
    font-size: 0.8rem;
    overflow-y: scroll;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
}
.card h5{
   padding: 5px;
   font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.card a{
    width: 150px;
    text-align: center;
    color: white;
    background-color: rgb(67, 137, 230);
    height: 50px;
    border: none;
    margin-left: 15px;
    box-shadow: 0px 2px 4px black;
    border-radius: 20%;
    margin-bottom: 10px;
    text-decoration: none;
    padding: 13px;

}
